<% if notice %>
  <div class="alert alert-warning" role="alert">
    <button type="button" class="close"id="alertbtn">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<div class="container">
  <h1 class="text-center">Cocktails</h1>

  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card logo">
          <div class="card-category"><%= c.name %></div>
          <%= link_to '', cocktail_path(c), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
  <a href="/cocktails/new"><i class="fas fa-plus-circle"></i></a>


</div>



