<h1>Cocktails</h1>

<ul>
  <% @cocktails.each do |c| %>
    <li><%= c.name %> - <%= link_to "Details", cocktail_path(c) %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
