<div class="container">
  <div class="col-xs-12 text-center">
    <div class="row">
      <h1><%= @cocktail.name %></h1>
      <% @cocktail.doses.each do |d| %>
        <p><%= d.ingredient.name %>
          <%= link_to 'ðŸ—‘ï¸', dose_path(d), method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
      <% end %>
    </div>
  </div>
</div>
