<nav class="navbar-wagon">
  <div class="navbar-wagon-left">
    <a class="navbar-brand" href="/">Cocktail</a>
  </div>
  <div class="navbar-wagon-right">
    <form class="form-inline" action="/cocktails/filter">
      <input class="form-control" name="query" type="search" placeholder="Search" aria-label="Search" value="" required>
      <button class="btn navbar-wagon-link" type="submit">Search</button>
    </form>
    <a class="btn navbar-wagon-link" href="/cocktails/new">Add Cocktail</a>
  </div>
</nav>
